/*  File: base-style.css
 *  Style Guide for Patrick E. Vargas (patrick.vargas@colorado.edu) 
 *  Color Scheme: (from kuler.adobe.com)
 *  green @darkest | blue @accent | white @lightest | brown @background | creme @foreground
 */

@green: #8aa433;
@black: #2F2933;
@white: #FFFFFF;
@blue: #0092B2;

.green { color: @green; }
.blue  { color: @blue; } 
.white { color: @white; } 
.black { color: @black; } 

@darkest: @green;
@background: @black;
@foreground: @white;
@lightest: @white;
@accent: @blue;

.box-sizing { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;  
  box-sizing:         border-box; 
}
.shaddow-inset {
  -webkit-box-shadow: inset 0 0 2em @black;
  -moz-box-shadow:    inset 0 0 2em @black;
  -o-box-shadow:      inset 0 0 2em @black;
  box-shadow:         inset 0 0 2em @black;
}
.shaddow {
  -webkit-box-shadow: 0 0 2em @black;
  -moz-box-shadow:    0 0 2em @black;
  -o-box-shadow:      0 0 2em @black;
  box-shadow:         0 0 2em @black;
}
.rotate ( @deg ) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
}

.animate ( @which ) {
  -webkit-animation:  @which 5s infinite cubic-bezier(0.000, 0.5, 1.0, 0.5);
  -moz-animation:     @which 5s infinite cubic-bezier(0.000, 0.5, 1.0, 0.5);
  -o-animation:       @which 5s infinite cubic-bezier(0.000, 0.5, 1.0, 0.5);
  animation:          @which 5s infinite cubic-bezier(0.000, 0.5, 1.0, 0.5);
}
/* Main Content */
body {
  padding: 0;        margin: 0;
  font-size:         12pt;
  line-height:       24pt;
  background-color:  @black;
  color:             @lightest;
  font-family:       'Righteous', sans-serif;
}

/* Glad Storage Ware BEGIN */
.glad   { 
  width: 1024px; margin: 0 auto;
  * { .box-sizing; }
}
/* Glad Storage Ware END */

/* Basic Tag Definitions BEGIN */
abbr  { border-bottom:  1px dotted @white; }
p { padding: 0; margin: 0; }
::-moz-selection { background-color: fadein(@green, 0); }
::selection { background-color: fadein(@green, 0); }

a {
  cursor: pointer;
  &:link    { color: lighten(@blue, 30%); text-decoration: none; }
  &:visited { color: lighten(@green, 30%); text-decoration: none; }
  &:hover   { color: @white; text-decoration: none; }
  &:active  { color: @white; text-decoration: none; }
}
/* Basic Tag Definitions END */

/* Headers BEGIN */
h1, h2, h3, h4 { font-family: 'Oregano', cursive; margin: 0em; padding: 0em; }
h3 { font-size: 2em}
h4 { font-size: 1.5em; display: inline; }

header {
  display: block;   position: fixed;  top: 2em;
  width: 100%;
  padding-top: 0.5em;
  background-color: @black;
  z-index: 100;
  .shaddow;

  #title { float: right; font-size: 4em; }

  #subtitle {
    font-size: 4em; 
    padding-bottom: 0.4em;
/*    border-width: 2px; 
    border-style: solid;
    border-top-color: @green;
    border-bottom-color: @blue;
    border-left-width: 0em;
    border-right-width: 0em;
*/    span { font-size: 0.5em; vertical-align: top; }
  }
}
/* Headers END */

#navbar ul {
  list-style:   none;
  padding: 0em; margin: -1em -1em 0em;
  text-align:   center;
  overflow:     auto;
  background-color: fade(@white, 10%);
  li { 
    display: inline-block;
    a { 
      display: block;
      padding: 0em 3.9em;
      z-index: 150;
      cursor: pointer;
      &:link    { color: @white; text-decoration: none; }
      &:visited { color: darken(@white, 10%); text-decoration: none; }
      &:hover   { color: lighten(@white, 10%); text-decoration: none; }
      &:active  { color: @white; text-decoration: none; }
    }
  }
}
/* Content BEGIN */
article {
  margin-top: 10em;
}

.des, .pro {
  color: @white;
  border: 5px dashed @white; 
  position: relative;
  margin: 4em 0em;    padding: 1em;
  width: auto;
  clear: both;
  &:before { 
    content: " ";
    position: absolute;
    border: 2px dotted @black; 
    border-radius: 15px;
    z-index: -10;
    top: -15px;   left: -15px;
    right: -15px; bottom: -15px;
  }
}
.item { 
  clear: both;  overflow: auto; margin: 1em 0em;
  img { cursor: pointer; width: 130px; display: block; margin: 2em; position: relative; float: left; .shaddow; }
}
#buttons img { border-radius: 10em; }

.des {
  background-color: @green;
  &:before { background-color: @green; }
}
.pro {
  background-color: @blue;
  &:before { background-color: @blue; }
}
code { font-weight: bold; }
#jamwalkr { margin: 3em 2em; }
#knitting { background-color: white; }
.help { color: fade(@white, 25%); font-style: italic; font-size: 0.8em; }
/* Lightbox BEGIN */
#lightbox {
    background-color: fade(@background, 90%);
    display:          none;
    position:         fixed;
    width: 100%;      height: 100%;
    top: 0;           left: 0;
    z-index: 200;
    cursor: pointer;
}
#inst { 
  position: fixed;
  left: 3em;
  top: 3em;
  color: fade(@white, 90%);
}
#content { 
  position: absolute; 
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
}
/* Lightbox END */

/* Imported fonts courtesy of Google. */
/* Main Font */
@font-face {
  font-family:  'Righteous';
  font-style:   normal;
  font-weight:  400;
  src: local('Righteous'), local('Righteous-Regular'), url(http://themes.googleusercontent.com/static/fonts/righteous/v2/w5P-SI7QJQSDqB3GziL8XT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
/* Title Font */
@font-face {
  font-family: 'Oregano';
  font-style: normal;
  font-weight: 400;
  src: local('Oregano'), local('Oregano-Regular'), url(http://themes.googleusercontent.com/static/fonts/oregano/v1/banH00eVaZ5aPnsoHTqQNA.woff) format('woff');
}

/* Breadcrumbs && Footer BEGIN */
#crumbs, footer { 
  background-color: @black; 
  width:            100%; 
  clear:            both;
  position:         fixed;
  display:          block;
  z-index:          100;
  .shaddow;
  ul {
    margin: 0; padding: 0;
    list-style: none; 
    li { 
      display: inline;
      &:before { margin: 0 0.5em; color: @accent; }
      &:first-child:before { content: ''; margin: 0;}
    }
    a {
      &:link    { color: fade(@green, 75%); }
      &:visited { color: fade(@green, 50%); }
      &:hover   { color:      @green;       }
      &:active  { color: fade(@green, 25%); }
    }
  }
}
#crumbs { top: 0; ul li:before { content: '\003e'; } }
footer { bottom: 0; ul li:before  { content: '\2666'; } }
/* Breadcrumbs && Footer END */
/* Site Map BEGIN */
#sitemap {
  display:          none;
  position:         fixed;
  left: 0;    top: 0;   bottom: 0;
  background-color: @background;
  border-right:     1em solid lighten(@background, 75%);
  cursor:           pointer;
  z-index:          200;
  width:  20%;      min-width: 275px;
  h1 { 
    font-size: 2em; white-space: nowrap; display: block; margin: 0.5em auto; text-align: center;
    a { padding: 0.5em; color: @foreground;  }
  }
  
  ul { 
    margin: 0; padding: 0;
    li a {
      display: block;
      list-style: none;
      background-color: fade(lighten(@background, 25%), 50%);
      padding: 0.5em;
      margin: 0.5em;
      border-radius: 1em;
      &:hover {
        background-color: fade(lighten(@background, 50%), 50%);
      }
    }
    ul li a:before {
      content: '\003e';
      margin-right: 0.5em;
    }
  }
}
#click-close { position: absolute; bottom: 0; right: 2em; color:(@lightest); text-align: right; }
#menu { cursor: pointer; }
/* Site Map END */