body { 
  font-family:       'Arvo', serif;
  color:             #000000;
  background-color:  #ffffff;
  padding: 0;        margin: 0;
  font-size:         9pt;
  line-height:       1.1;
}

footer, #crumbs, #sitemap {
  display: none;
}

p { margin : 0; }
abbr { border: none; }
b, .normal { font-weight: normal; }
ul { margin: 0.5em; padding: 0em; list-style-position: inside; list-style-type: square; } 
ul li { padding: 0em; margin: 0em; }
ul li ul { list-style-type: circle; }
a, a:link, a:visited, a:hover, a:active { color: #000; text-decoration: none;}
header {
  display:              block;
  text-align:           center;
}
h1, h2, h3, h4 { font-family: 'Bubblegum Sans', cursive; margin: 0em; }
header h1 { text-align: center; font-size: 3em }
header h2 { display: block; font-size: 1.2em; margin-bottom:  0.1em; font-family: 'Nixie One'; }
header h2 span:before  { content: '|'; font-size: 0.7em; margin-right: 0.5em; } 
header h2 span:first-child:before { content: ''; margin: 0; }
header h2#info { font-weight: bold; font-family: 'Bubblegum Sans', cursive; }
header h2#info span:before  { content: '\2666'; font-size: 0.7em; margin-right: 0.5em; } 
header h2#info span:first-child:before { content: ''; margin: 0; }

h3 {
  font-size:      1.15em;
  display:        block;
  border-bottom:  0.25em solid #000;
  clear:          both;
  margin-bottom:  0.25em;
}
h4 { border-bottom: 0.1em dashed #000; font-size: 1em; }

article a[href^="http://"]:after, a[href^="https://"]:after {
  content: " <" attr(href) ">";
  font-size: 90%;
  font-family: 'Nixie One';
  word-wrap: break-word;
}

.g3 { width: 4.5cm; float: left; }
.g12 { width: 100%; clear: both; margin-bottom: 0.5em; }
.time { display: block; float: right; margin-left: 2em; width: auto; margin-top: -1.5em; }
.city { float: right; margin-right: 1.5pt; }
#projects b { font-weight: bold; }
#projects table, #skills table { width: 100%; }
#projects th, #skills th,
#projects td, #skills td { text-align: left; vertical-align: top; font-weight: normal; }
#involvments { font-weight: normal; }
#involvments span:before { content: '\2666'; margin-right: 2pt; }
/*#involvments span:after { content: ')'; }*/

.no-valign { vertical-align: auto; }
.no-print { display: none; }
#logo { display: block; position: absolute; bottom: 0em; right: 1em; }
#pdf-version { display: none; }
/* LaTeX Styling BEGIN */
.latex {
  font-size: 1em;
}
.latex sub, .latex sup { text-transform: uppercase; }
.latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  font-size: 1em;
}
.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}
/* LaTeX Styling END */

/* Imported fonts courtesy of Google. */
/* Main Font */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://themes.googleusercontent.com/static/fonts/arvo/v5/WJ6D195CfbTRlIs49IbkFw.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(http://themes.googleusercontent.com/static/fonts/arvo/v5/0Aa8aBJcGN1n1zDNhqNrnQ.woff) format('woff');
}
/* Title Font */
@font-face {
  font-family:  'Bubblegum Sans';
  font-style:   normal;
  font-weight:  400;
  src: local('Bubblegum Sans Regular'), local('BubblegumSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/bubblegumsans/v2/Y9iTUUNz6lbl6TrvV4iws54Lxpzd4X-ieks9FW6kTqw.woff) format('woff');
}
/* Link Font */
@font-face {
  font-family: 'Nixie One';
  font-style: normal;
  font-weight: 400;
  src: local('Nixie One'), local('NixieOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/nixieone/v4/gQ0PT3rPU_Et2ExNz-ahmj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}